.product-card__name::before{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    content: '';
}

.product-card__name--available::before{
    background-color: green;
}

.product-card__name--not-available::before{
    background-color: red;
}